[user]
	name = Simon Frost

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim
	excludesfile = ~/.dotfiles/git/gitignore_global
	attributesfile = ~/.dotfiles/git/.gitattributes

[alias]
	cp = cherry-pick
	st = status
	lg = log --graph --pretty=myformat --abbrev-commit --date=relative
	br = "!git branch -vv --color=always"
	email = config user.email
	amend = commit --amend --no-edit
	tempignore = update-index --assume-unchanged
	unignore = update-index --really-refresh
	currbranch = symbolic-ref --short HEAD
	incoming = "!git fetch -q && git log --pretty=myformat --no-merges $(git currbranch)..origin/$(git currbranch);"
	incomingdiff = "!git fetch -q && git diff --stat $(git currbranch)..origin/$(git currbranch);"
	outgoing = "!git fetch -q && git log --pretty=myformat --no-merges origin/$(git currbranch)..$(git currbranch);"
	supush = "!git push --set-upstream origin $(git currbranch);"
	rmorigin = "!git push origin --delete $(git currbranch)"
	difflog = "!git log $1 ^$(git currbranch) --oneline"
	conflicts = "!git diff --name-only | uniq | xargs subl"

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[color "branch"]
	remote = red

[color "status"]
	added = blue
	changed = red
	untracked = red

[status]
	showuntrackedfiles = all

[push]
	default = tracking

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	stat = true

[diff]
	compactionHeuristic = true

[diff "spaceman-diff"]
  command = ~/.dotfiles/git/spaceman-diff

[pretty]
	myformat = "format:%Cred%h%Creset -%C(yellow)%d%C(white) %s %Creset- %C(yellow)%an %Cgreen%cr%Creset"

[help]
	autocorrect = 25
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	first-run = false
