[user]
	name = Simon Frost

[core]
	pager = less -FRSX
	editor = vim
	excludesfile = ~/.dotfiles/git/gitignore_global

[alias]
	cp = cherry-pick
	st = status
	lg = log --graph --pretty=myformat --abbrev-commit --date=relative
	br = branch -vv
	email = config user.email
	amend = commit --amend --no-edit
	tempignore = update-index --assume-unchanged
	unignore = update-index --really-refresh
	currbranch = symbolic-ref --short HEAD
	incoming = "!git fetch -q && git log --pretty=myformat --no-merges $(git currbranch)..origin/$(git currbranch);"
	incomingdiff = "!git fetch -q && git diff --stat $(git currbranch)..origin/$(git currbranch);"
	outgoing = "!git fetch -q && git log --pretty=myformat --no-merges origin/$(git currbranch)..$(git currbranch);"
	supush = "!git push --set-upstream origin $(git currbranch);"
	rmorigin = "!git push origin --delete $(git currbranch)"
	difflog = "!git log $1 ^$(git currbranch) --oneline"
	conflicts = "!git diff --name-only | uniq | xargs subl"

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	pager = true

[color "branch"]
	remote = red

[color "status"]
	added = blue
	changed = red
	untracked = red

[status]
	showuntrackedfiles = all

[push]
	default = tracking

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	stat = true

[diff]
	compactionHeuristic = true

[pretty]
	myformat = "format:%Cred%h%Creset -%C(yellow)%d%C(white) %s %Creset- %C(yellow)%an %Cgreen%cr%Creset"

[pager]
	show = $DOTFILES_DIR/git/diff-highlight | less
	diff = $DOTFILES_DIR/git/diff-highlight | less

[help]
	autocorrect = 50
[diff "plist"]
	textconv = plutil -convert xml1 -o -
