[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "tmux/oh-my-tmux"]
	path = tmux/oh-my-tmux
	url = git@github.com:gpakosz/.tmux.git
