[submodule "vim/vim.symlink/lightline.vim"]
	path = vim/vim.symlink/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
